* {
    margin: 0;
    padding: 0;
    border: none;   
    outline: none;
}
html {
    height: 100%;
}

body {
    width: 100%;    
    top:2px;
    text-transform:uppercase;
}
#productId {
    display:none;
}